.dTable{
    display: table;
    height: 100%;
}
.dTable-cell{
    display: table-cell;
    vertical-align: middle;
}
.dTable,.dTable-cell{
    width: 100%;
}
.fondo-oscuro{
    background-color: #222;   
}
.texto-claro{
    color: #f5f5f5;
}
.image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.s-contain{
    background-size: contain;
}
.items .image{
    height: 170px;
}
.price{
    /*padding-top: 90%;*/
    color: rgb(101, 253, 0);
    pointer-events: none;
    float: right;
}

.carrito{
    /*border: 1px solid #6b6b6b;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
}
.carrito .row{
    max-height: 70px;
}
.carrito .image{
    height:  70px;
}
.carrito input[type=number]{
    max-width: 60px;
}
.carrito button{
    background-color: transparent;
}

/* UPLOADING */


/*
.upload{
background-color:red;
border:1px solid red;
color:#fff;
border-radius:5px;
padding:10px;
text-shadow:1px 1px 0 green;
box-shadow:2px 2px 15px rgba(0,0,0,.75)
}
.upload:hover{
cursor:pointer;
background:#c20b0b;
border:1px solid #c20b0b;
box-shadow:0 0 5px rgba(0,0,0,.75)
}*/
.filediv{
    display: inline-block;
    float: left;
}
.file{
color:green;
padding:5px;
border:1px dashed #123456;
background-color:#f9ffe5
}
#upload{
margin-left:45px
}
#noerror{
color:green;
text-align:left
}
#error{
color:red;
text-align:left
}
#img{
width:30px;
border:none;
height:30px;
margin-left:-20px;
margin-bottom:91px
}
.abcd{
/*text-align:center*/
}
.abcd .img{
height:100px;
width:100px;
padding:5px;
border:1px solid #e8debd
}
b{
color:red
}
.images_box{
    margin-bottom: 30px;
    overflow: auto;
}
.cancel_cross{
    width: 30px;
    border: none;
    height: 30px;
    margin-left: -20px;
    margin-bottom: 91px;
    padding: 5px;
}

.item_thumbnail{
    max-width: 100%; 
    height: auto;
}
.item_thumbnail_container{
    margin-bottom: 30px;
    text-align: center;
}
#item_image img{
    overflow: hidden;
    background-size: cover;
    object-fit: cover;

}